.App {
  font-family: sans-serif;
  text-align: left;
}

.bar-container {
  display: flex;
  height: 300px;
  flex-direction: row;
  justify-items: space-between;
  align-items: flex-end;
  transition: transform 1s;
}

.bar {
  height: 50px;
  width: 20px;
  border: 1px solid black;
  position: relative;
  margin-left: 5px;
  text-align: center;
}
.bar-highlight {
  background-color: green;
}
.bar span {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
